  .payMain {
        margin-top: 40px;
    }

    .payType > div {
        margin-top: 20px;
        border-bottom: 1px solid #f5f6fa;
    }

    .payType {
        padding-left: 10%;
        width: 90%;
    }

    section {
        margin-top: 20px;
    }

    .payLogo {
        text-align: center;
        width: 100px;
        height: 30px;
        line-height: 30px;
        border-radius: 0px 7px 0px 7px;
        background-color: green;
        color: white;
        margin-left: -22px;
    }