
@{
    Layout = null;
    ViewBag.nav = "退货明细";
    ViewBag.Title = "MVCChart";
}

<style>
    #table {
        width: 800px;
        position: relative;
        left: -40px;
    }
</style>
<div id="table">
    <table style="width: 100%">
        <tr>
            <td>
                <img src="@Url.Action("R_backNums")" alt="主张图" />
            </td>

        </tr>
        <tr>
            <td>
                <img src="@Url.Action("R_backPrices")" alt="主张图" />
            </td>

        </tr>
    </table>

</div>
