
@{
    Layout = null;
    ViewBag.Title = "ZsMain";
}
<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
<link rel="stylesheet" href="~/Areas/Admin/content/css/fontastic.css">
<link rel="stylesheet" href="~/Areas/Admin/content/css/style.default.css" id="theme-stylesheet">
<div class="container" style="display:flex;justify-content:center;align-content:center;flex-wrap:wrap;margin-top:5%;">
    <h1>欢迎来到好利来购物网站</h1>
    <br />
    <br />
    <br />

    <img src="~/assets/img/zs/zhanshi.gif" alt="" style="width:1100px;height:400px;">
    <br />
    <br />
    <br />
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-7">
                    <br />
                    <br />
                    <div class="widgets_container contact_us">
                        <div class="footer_logo">
                            <a href="index.html"><img src="~/assets/img/logo/logoss.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-5">
                    <br />
                    <br />
                    <p class="footer_desc">四川商务职业学院</p>
                    <p class="footer_desc">MVC系列产品</p>
                    <p class="footer_desc">技术支持：柒月团队</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <br />
                    <br />
                    <p><span>项目名称：</span>好利来后台管理系统</p>
                    <p><span>产品定位：</span> 电商后台管理系统</p>
                    <p><span>开发日期：</span> 2020年6月29日 </p>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="https://www.jq22.com/jquery/bootstrap-4.2.1.js"></script>
<script src="~/Areas/Admin/content/js/front.js"></script>
