@model SHoppMVC.Models.goodsType


@{
    Layout = null;
    ViewBag.Title = "ShopManageupdate";
    ViewBag.nav = "商品类型管理>商品类型管理的查看";
}
<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
<link rel="stylesheet" href="~/Areas/Admin/content/css/fontastic.css">
<link rel="stylesheet" href="~/Areas/Admin/content/css/style.default.css" id="theme-stylesheet">
@* 按钮的样式 *@
<link href="~/Areas/Admin/content/css/button/component.css" rel="stylesheet" />
<style>
    .tdwidth {
        width: 140px;
    }

    tr {
        height: 50px;
    }
        .DropList {
        width: 358px;
        height: 40px;
    }
</style>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br /><br /><br />
                <h3 style="border-bottom:2px solid #33b35A;padding-bottom:10px;">商品类型详情</h3>

                <table class="table" style="color:black;font-size:20px;margin-top:6%;">
                    <tr style="background-color:#f9f9f9;">
                        <td class="tdwidth">@Html.DisplayName("商品类型名称:")</td>
                        <td style="width:190px;"> @Html.DisplayFor(model => model.typeNarme)</td>
                        <td class="tdwidth">
                            @Html.DisplayName("是否可用:")
                        </td>
                        <td style="width:190px;">
                            @if (Model.enabled==1)
	{
		<p>可用</p>
	} 
                            @if (Model.enabled == 0)
                            {
                                <p>不可用</p>
                            } 
                        </td>

                    </tr>
                </table>
            </div>
        </div>



    </div>
</div>

<div style="margin-left:17%;text-decoration:none;">
    <div class="progress-button">
        <button type="submit" id="search">@Html.ActionLink("返回", "ShopTyeManage")</button>
    </div>
    @*@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", @style = "font-size:40px;" })*@
</div>

<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="https://www.jq22.com/jquery/bootstrap-4.2.1.js"></script>
<script src="~/Areas/Admin/content/js/front.js"></script>
